
/* OPERATORS */
/* 
ASSIGNMENT
: assign the right to the left

MATH
+ Addition
- Subtraction
* Multiplication (asterisk)
/ Division (solidus)

COMPARISON
== is the left equal to the right
!= is not equal to
< less than
> greater than
<= less than or equal to
>= greater than or equal to

MODULO
% the remainder of a division

 */

$num: 6;

@if($num == 5) {
	/* It's EQUAL! */
}
@else if($num<5) {
	/* It's LESS! */
}
@else if($num>5) {
	/* It's MORE! */
}
@else {
	/* I don't know... It's weird */
}


/* FOR LOOP */
// $i is the iterator
@for $i from 1 through 9 {
	.column#{$i} {
		width: $i * 100px;
	}
}


/* EACH LOOP */

$container-width:(
	xs:0,
	sm:480px,
	md:640px,
	lg:960px,
	xl:1280px
	);
@each $key,$value in $container-width {
	// Use the hashbrace to put variables into names
	.container-#{$key} {
		width:$value;
	}
}


/* MIXIN */
@mixin my-mixin {
	.container {
		width:50px;
	}
}

@include my-mixin;

@mixin make-container($num:800) {
	.container {
		width:$num*1px;
	}
}

@include make-container;
@include make-container(600);